{% extends 'base.html.twig' %}

{% block video_menu_list %}{% endblock %}

{% block video_list %}{% endblock %}

{% block video_import %}{% endblock %}

{% block body %}

    <div id="welcome">
        <p>Welcome to Project 'DMWD' based on
            Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
        </p>
    </div>

    <div id="status">
        <p>
            Application is now ready.
            You can start working on it at:
            <code>{{ base_dir }}</code>
        </p>
    </div>

    <div id="next">
        <h2>What's next?</h2>
        <p>
            <a href="https://bitbucket.org/sapletta/dmwd/overview">
                Read the documentation to learn
            </a>
        </p>
    </div>

{% endblock %}

