{% extends 'base.html.twig' %}

{% block body %}

    <h1>Videos</h1>
    <div id="sidebar">
        <ul>
            {% for menu in menu_array %}
                <li>
                    <a href="{{ menu.url }}">{{ menu.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        @media (min-width: 768px) {

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>

    <style>
        img.thumbnail {
            width: auto;
            height: 120px;
        }
    </style>
{% endblock %}

